body{
  background-color:  brown;
}

.App{
  background-color:brown;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form input{
  background-color: darkseagreen;
  border: 0;
  width: 200px;
  height: 50px;
  padding:0px 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form input::placeholder{
   color: black;
}
#to-do-form input:focus,#to-do-form button:focus{
  outline: none;
}
#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: darkkhaki;
  cursor: pointer;
  font-weight: bolder;
  color: black;
}
